@font-face {
    font-family: 'EB Garamond';
    src: url('EBGaramond-Regular.eot');
    src: url('EBGaramond-Regular.eot?#iefix') format('embedded-opentype'),
        url('EBGaramond-Regular.woff2') format('woff2'),
        url('EBGaramond-Regular.woff') format('woff'),
        url('EBGaramond-Regular.ttf') format('truetype'),
        url('EBGaramond-Regular.svg#EBGaramond-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

