@font-face {
  font-family: "RobotoSlab";
  src: url("fonts/robato_slab/RobotoSlab-Regular.eot"); /* IE9 Compat Modes */
  src: url("fonts/robato_slab/RobotoSlab-Regular.woff2") format("woff2"),
    /* Super Modern Browsers */ url("fonts/robato_slab/RobotoSlab-Regular.woff")
      format("woff"),
    /* Pretty Modern Browsers */ url("fonts/robato_slab/RobotoSlab-Regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("fonts/robato_slab/RobotoSlab-Regular.svg")
      format("svg"); /* Legacy iOS */
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "EBGaramond";
  src: url("fonts/EBGaramond-Regular/EBGaramond-Regular.eot"); /* IE9 Compat Modes */
  src: url("fonts/EBGaramond-Regular/EBGaramond-Regular.woff2") format("woff2"),
    /* Super Modern Browsers */
      url("fonts/EBGaramond-Regular/EBGaramond-Regular.woff") format("woff"),
    /* Pretty Modern Browsers */
      url("fonts/EBGaramond-Regular/EBGaramond-Regular.ttf") format("truetype"),
    /* Safari, Android, iOS */
      url("fonts/EBGaramond-Regular/EBGaramond-Regular.svg") format("svg"); /* Legacy iOS */
  font-weight: 400;
  font-style: normal;
}

body {
  display: flex;
  justify-content: center;
  overflow: hidden;
}

div.contentContainer {
  width: 100%;
  max-width: 680px;
  margin-bottom: 120px;
}

div.header {
  display: flex;
  padding: 1rem 0.5rem;
}
h1 {
  font-family: "RobotoSlab";
  margin: 0px;
  color: #000;
}
div.modelViewer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0.5rem;
}
model-viewer {
  width: 100%;
  height: 600px;
  margin: 0 auto;
}

button.arButton {
  color: #fff;
  border: none;
  font-size: 1rem;
  position: absolute;
  bottom: 1rem;
  border-radius: 4px;
  background-color: #f6b24d;
}
div.arButton {
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
div.navigationButtons {
  display: flex;
  justify-content: space-between;
}
div.navigationButton {
  border: solid 2px #4d91f6;
  border-radius: 8px;
  padding: 0.4rem 1rem;
  margin: 1rem 0rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #4d91f6;
}
a {
  text-decoration: none;
  color: #f6b24d;
}
p.button {
  font-family: "RobotoSlab";
  margin: 0.1rem 0.2rem 0.2rem 0.2rem;
}
div.textContainer {
  padding: 0rem;
  margin: 0.5rem;
}
h2 {
  font-family: "RobotoSlab";
  margin: 0px;
  color: #000;
}
h3 {
  font-family: "RobotoSlab";
  margin: 0px;
  color: #000;
}
p.body {
  font-family: "EBGaramond";
  font-size: 1rem;
  margin: 0.5rem 0rem 0rem 0rem;
  color: #000;
}
p.caption {
  font-family: "RobotoSlab";
  font-size: 0.8rem;
  margin: 0.5rem 0rem 0rem 0rem;
  color: #000;
}
iframe {
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 600px) {
  model-viewer {
    height: 350px;
  }
}
@media only screen and (min-width: 700px) {
  div.header {
    justify-content: center;
  }
  h1 {
    text-align: center;
  }
}
