@font-face {
    font-family: '';
      src: url('fonts/robato_slab/RobotoSlab-Regular.eot'); /* IE9 Compat Modes */
      src: url('fonts/robato_slab/RobotoSlab-Regular.woff2') format('woff2'), /* Super Modern Browsers */
          url('fonts/robato_slab/RobotoSlab-Regular.woff') format('woff'), /* Pretty Modern Browsers */
          url('fonts/robato_slab/RobotoSlab-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
          url('fonts/robato_slab/RobotoSlab-Regular.svg') format('svg'); /* Legacy iOS */
      font-weight: 400;
      font-style: normal;
  }