// Make work with widths 320px and 500px for mobile. May need to deail with px density. May make desktop versions just in case.

#home-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.7)),
    url(../images/home-header-img.jpg) no-repeat center;
  background-size: cover;
  height: 350px;
  color: $white;
  .scrim {
    display: flex;
    flex-direction: column;
    text-align: center;
    h2 {
      font-family: "Frutiger";
      font-weight: 100;
      font-style: normal;
      font-size: 2.4rem;
      margin-top: 20rem;
      margin-bottom: 1rem;
      letter-spacing: 0.3rem;
    }
    h1 {
      font-family: "Frutiger";
      font-weight: 100;
      font-style: normal;
      font-size: 6.4rem;
    }
  }
}

#home-nav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  margin-top: 2rem;
  .nav-tile {
      max-width: 500px;
      margin: 0rem 2rem 2rem 2rem;
      h2{
        font-family: "Frutiger";
        font-weight: 100;
        font-style: normal;
        font-size: 2.4rem;
        padding: 1rem;
      }
  }
}
