/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  width: 100%;
  height: auto;
}

html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

@font-face {
  font-family: 'Frutiger';
  src: url("fonts/Frutiger/FrutigerLTStd-Roman.eot");
  /* IE9 Compat Modes */
  src: url("fonts/Frutiger/FrutigerLTStd-Roman.woff2") format("woff2"), url("fonts/Frutiger/FrutigerLTStd-Roman.woff") format("woff"), url("fonts/Frutiger/FrutigerLTStd-Roman.ttf") format("truetype"), url("fonts/Frutiger/FrutigerLTStd-Roman.svg") format("svg");
  /* Legacy iOS */
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Frutiger';
  src: url("fonts/Frutiger/FrutigerLTStd-Italic.eot");
  /* IE9 Compat Modes */
  src: url("fonts/Frutiger/FrutigerLTStd-Italic.woff2") format("woff2"), url("fonts/Frutiger/FrutigerLTStd-Italic.woff") format("woff"), url("fonts/Frutiger/FrutigerLTStd-Italic.ttf") format("truetype"), url("fonts/Frutiger/FrutigerLTStd-Italic.svg") format("svg");
  /* Legacy iOS */
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Frutiger';
  src: url("fonts/Frutiger/FrutigerLTStd-Bold.eot");
  /* IE9 Compat Modes */
  src: url("fonts/Frutiger/FrutigerLTStd-Bold.woff2") format("woff2"), url("fonts/Frutiger/FrutigerLTStd-Bold.woff") format("woff"), url("fonts/Frutiger/FrutigerLTStd-Bold.ttf") format("truetype"), url("fonts/Frutiger/FrutigerLTStd-Bold.svg") format("svg");
  /* Legacy iOS */
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Frutiger';
  src: url("fonts/Frutiger/FrutigerLTStd-BoldItalic.eot");
  /* IE9 Compat Modes */
  src: url("fonts/Frutiger/FrutigerLTStd-BoldItalic.woff2") format("woff2"), url("fonts/Frutiger/FrutigerLTStd-BoldItalic.woff") format("woff"), url("fonts/Frutiger/FrutigerLTStd-BoldItalic.ttf") format("truetype"), url("fonts/Frutiger/FrutigerLTStd-BoldItalic.svg") format("svg");
  /* Legacy iOS */
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Frutiger';
  src: url("fonts/Frutiger/FrutigerLTStd-Light.eot");
  /* IE9 Compat Modes */
  src: url("fonts/Frutiger/FrutigerLTStd-Light.woff2") format("woff2"), url("fonts/Frutiger/FrutigerLTStd-Light.woff") format("woff"), url("fonts/Frutiger/FrutigerLTStd-Light.ttf") format("truetype"), url("fonts/Frutiger/FrutigerLTStd-Light.svg") format("svg");
  /* Legacy iOS */
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Frutiger';
  src: url("fonts/Frutiger/FrutigerLTStd-LightItalic.eot");
  /* IE9 Compat Modes */
  src: url("fonts/Frutiger/FrutigerLTStd-LightItalic.woff2") format("woff2"), url("fonts/Frutiger/FrutigerLTStd-LightItalic.woff") format("woff"), url("fonts/Frutiger/FrutigerLTStd-LightItalic.ttf") format("truetype"), url("fonts/Frutiger/FrutigerLTStd-LightItalic.svg") format("svg");
  /* Legacy iOS */
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Frutiger';
  src: url("fonts/Frutiger/FrutigerLTStd-Black.eot");
  /* IE9 Compat Modes */
  src: url("fonts/Frutiger/FrutigerLTStd-Black.woff2") format("woff2"), url("fonts/Frutiger/FrutigerLTStd-Black.woff") format("woff"), url("fonts/Frutiger/FrutigerLTStd-Black.ttf") format("truetype"), url("fonts/Frutiger/FrutigerLTStd-Black.svg") format("svg");
  /* Legacy iOS */
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Frutiger';
  src: url("fonts/Frutiger/FrutigerLTStd-UltraBlack.eot");
  /* IE9 Compat Modes */
  src: url("fonts/Frutiger/FrutigerLTStd-UltraBlack.woff2") format("woff2"), url("fonts/Frutiger/FrutigerLTStd-UltraBlack.woff") format("woff"), url("fonts/Frutiger/FrutigerLTStd-UltraBlack.ttf") format("truetype"), url("fonts/Frutiger/FrutigerLTStd-UltraBlack.svg") format("svg");
  /* Legacy iOS */
  font-weight: 1000;
  font-style: normal;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 1080px;
  margin: auto;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: url(../images/ranch_images/plesant_creek_canyon.jpg) no-repeat center;
  height: 300px;
}

header h2 {
  font-family: "Frutiger";
  font-weight: 100;
  font-style: normal;
  font-size: 3rem;
  margin-top: 14rem;
}

header h1 {
  font-family: "Frutiger";
  font-weight: 100;
  font-style: normal;
  font-size: 6.4rem;
}
/*# sourceMappingURL=styles.css.map */